# you can add more keys here and change their values
# (key names are ignored, current ones are A and Z)
[QUICKCAST]
ATTACK          = 0x41
MOVE            = 0x5A

# this is to avoid clicking on menus
[BORDERS]
MENU_HEIGHT     = 75
GAME_HEIGHT     = 1000
GAME_MID_WIDTH  = 1740
GAME_MID_WIDTH2 = 2150
